<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="basic_light_board.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <basic_light_board.Properties.Settings>
            <setting name="Labels" serializeAs="String">
                <value>Chan1,chan2</value>
            </setting>
            <setting name="ChannelValues" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchList" serializeAs="String">
                <value />
            </setting>
        </basic_light_board.Properties.Settings>
    </userSettings>
</configuration>